<! -- extend from base layout -->
{% extends "base.html" %}

{%block content %}
	<h1>New Quality Folder</h1>
	<form action="" method="post" name="new_folder">
		{{ form.hidden_tag() }}
	<p>
		Opened by:<br/>
		{{ form.opened_by }}<br/>
        Anomaly Type: <br/>
        {{ form.anomaly_type }} <br/>
        Topic: <br/>
        {{ form.topic }}<br/>
        Report: <br/>
        {{ form.report }}<br/>
        Risk level: <br/>
        {{ form.risk_level }}<br/>
        Risk occurrence:<br/>
        {{ form.risk_occurrence }}<br/>
        <br/><input type="submit" value="Create Folder">
	</p></form>

{% endblock %}
